<header class="bg-primary">
  <a href="/" class="btn btn-primary back-btn"><i class="fas fa-caret-left mr-2"></i>Back</a>
  <h1 class="text-white text-center p-3">Cat card app</h1>

</header>

<section class="container">
  <h2>Cat card form</h2>
  <hr />
  <form novalidate *ngIf="show; else notShow" class="was-validated">
    <div class="form-group row">
      <label for="cardTitle" class="col-sm-2 col-form-label">Card title</label>
      <input type="text" required class="form-control col-sm-10" id="cardTitle" placeholder="Card title" value="{{card?.title}}">
      <div class="invalid-feedback offset-md-2 col-sm-10">
        That field is required. Please provide a value.
      </div>
    </div>
    <div class="form-group row">
      <label for="cardImage" class="col-sm-2 col-form-label">Card image URL</label>
      <input type="url" required class="form-control col-sm-10" id="cardImage" placeholder="Card image URL" value="{{card?.imageUrl}}">
      <div class="invalid-feedback offset-md-2 col-sm-10">
        That field is required and attempt an URL as value. Please provide a value that respect URL format.
      </div>
    </div>
    <div class="form-group row">
      <label for="cardDescription" class="col-sm-2 col-form-label">Card description</label>
      <textarea class="form-control col-sm-10" id="cardDescription">{{card?.description}}</textarea>
    </div>
    <button class="btn btn-danger">Delete</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

<ng-template #notShow>
  <div>
    <p> L'id de la carte n'a pas été trouvé. </p>
    <a routerLink=""><button class="btn">Retourner à l'accueil</button></a>
  </div>
</ng-template>
</section>



<footer class="bg-light">
  <div class="container text-center">
    <i class="far fa-copyright mr-1"></i><label>2018 - Lille 1</label>
    <span class="small font-italic infos">No cat has been hurt during the development of this app.</span>
  </div>
