  <main>
    <header class="bg-primary">
      <h1 class="text-white text-center p-3">Cat card app</h1>
    </header>

    <section class="container">
      <h2>Cat card list</h2>
      <hr />
       <card-cat></card-cat>
      <a routerLink="/cat-form"><button class="btn btn-lg btn-danger circle add"><i class="fas fa-plus"></i></button></a>
    </section>

    <footer class="bg-light">
      <div class="container text-center">
        <i class="far fa-copyright mr-1"></i><label>2018 - Lille 1</label>
        <span class="small font-italic infos">No cat has been hurt during the development of this app.</span>
      </div>
    </footer>
  </main>
